<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./public/bootstrap.min.css">
    <link rel="stylesheet" href="./public/main.css">
    <script src="./public/jquery.min.js"></script>
    <script src="./public/bootstrap.min.js"></script>
    <script src="./public/d3.min.js"></script>
    <script src="./public/main.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


</head>
<html>
<style>
    h1 .btn-group {
        display: inline-block;
    }

    .bg-1 {
        background-color: #FFFFFF; /* White */
        color: #002FDC;
    }

    .bg-2 {
        background-color: #0073CC; /* Blue */
        color: #ffffff;
    }

    .bg-3 {
        background-color: #dedede; /* Light Grey */
        color: #000000;
    }

    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }

    .glyphicon-search {
        font-size: 4.5em;
    }

    .glyphicon-ok {
        font-size: 3.5em;
    }

    #coursesSearchContainer{
        height: 100%;
    }

    #coursesSearchButton {
        float: right;
        margin-top: 0em;
        margin-right: 0em;
        height: 110px;
        width: 100px;
        border-radius: 0 !important;
        background-color: #0073CC;
        border-color: #0073CC;
    }

    #coursesResultButton1 {
        text-align: center;
        font-size: 24px;
        margin-top: 0em;
        margin-right: 0em;
        height: 155px;
        width: 100%;
        border-radius: 0 !important;
        background-color: #0073CC;
        border-color: #0073CC;
    }

    #coursesResultButton2 {
        text-align: center;
        font-size: 24px;
        margin-top: 0em;
        margin-right: 0em;
        height: 155px;
        width: 100%;
        border-radius: 0 !important;
        background-color: #010C82;
        border-color: #010C82;
    }

    #roomsSearchButton {
        float: right;
        margin-top: 0em;
        margin-right: 0em;
        height: 110px;
        width: 100px;
        border-radius: 0 !important;
        background-color: #0073CC;
        border-color: #0073CC;
    }


</style>
<body>
<script>
    function searchCourses(){
        console.log('HI');
        var department = $('#coursesButton').text().trim();
        var year = $('#yearButton').text().trim();
        if (year != "All")
            year = Number(year.charAt(0));
        var title = $('#titleButton').text().trim();
        var instructor = $('#instructorButton').text().trim();
        var averageOption = $('#averageButton').text().trim();
        var sectionOption = $('#sectionButton').text().trim();
        var passOption = $('#passButton').text().trim();
        var failOption = $('#failButton').text().trim();
        var inputSize = Number($('#SectionSize').val().trim());
        console.log(inputSize);
        var sectionSize = $('#sizeButton').text().trim();
        if (sectionSize == "Equal")
            sectionSize = "EQ";
        else if (sectionSize == "Greater")
            sectionSize = "GT";
        else
            sectionSize = "LT";
        // TODO: Figure out if GROUP is needed  here
        // If all advance options are chosen
        var query = "{\"GET\": [\"courses_dept\",\"courses_id\",\"courses_title\",\"courses_year\",\"courses_instructor\",\"courses_pass\",\"courses_fail\",\"courses_avg\"]," +
            "\"WHERE\": {\"AND\": [{\"IS\": {\"courses_dept\": \"" + department + "\"}}, " +
            "{\"IS\": {\"courses_id\": \"" + year + "*\"}}, {\"IS\": {\"courses_title\": \"" + (title == "All" ? "*": title) + "*\"}}, {\"IS\": {\"courses_instructor\": \"" + (instructor == "All" ? "*": instructor) + "*\"}}]}," +
            "\"GROUP\": [\"courses_dept\",\"courses_id\",\"courses_title\",\"courses_year\",\"courses_instructor\",\"courses_pass\",\"courses_fail\",\"courses_avg\"],\"APPLY\": [ ],\"ORDER\": { \"dir\": \"UP\", \"keys\": [\"courses_title\"]},\"AS\":\"TABLE\"}";

        // No advanced options
        // var query = "{\"GET\": [\"courses_dept\",\"courses_id\",\"courses_title\",\"courses_year\",\"courses_instructor\",\"courses_pass\",\"courses_fail\",\"courses_avg\"],\"WHERE\": {\"AND\": [{\"IS\": {\"courses_dept\": \"" + department + "\"}}, {\"IS\": {\"courses_id\": \"" + year + "*\"}}]},\"GROUP\": [\"courses_dept\",\"courses_id\",\"courses_title\",\"courses_year\",\"courses_instructor\",\"courses_pass\",\"courses_fail\",\"courses_avg\"],\"APPLY\": [ ],\"ORDER\": { \"dir\": \"UP\", \"keys\": [\"courses_title\"]},\"AS\":\"TABLE\"}";

        try {
            $.ajax("/query", {
                type: "POST", data: query, contentType: "application/json", dataType: "json", success: function (data) {
                    console.log("HI");
                    for (var i = 0; i < data["result"].length; i++) {
                        var numStudents = (Number(data["result"][i]["courses_fail"]) + Number(data["result"][i]["courses_pass"]));
                        if ((inputSize == 0
                            || (sectionSize == "EQ") && (numStudents = inputSize))
                            || ((sectionSize == "GT") && (numStudents > inputSize))
                            || ((sectionSize == "LT") && (numStudents < inputSize))) {
                            if (i % 2 == 0)
                                $('#ResultArea').append('<div class="container-fluid bg-1" style="height:100%" id="result' + i + '"><div class="row"><div class="col-sm-11" id="data' + i + '"><h2>' + data["result"][i]["courses_dept"].toUpperCase() + ' ' + data["result"][i]["courses_id"] + ': ' + data["result"][i]["courses_title"] + '</h2>' +
                                    '<h3>Offered in ' + data["result"][i]["courses_year"] + ' and taught by ' + data["result"][i]["courses_instructor"] + '</h3>' +
                                    '<h3>Section Size: ' + numStudents + '  Average Grade: ' + data["result"][i]["courses_avg"] + '</h3></div>' +
                                    '<div class="col-sm-1 bg-2"><button id="coursesResultButton1" class="btn btn-primary" type="button" onClick="addCourse($(\'#data' + i + '\'),$(\'#result' + i + '\'));">Select</span></button></div></div></div>');
                            else
                                $('#ResultArea').append('<div class="container-fluid bg-3" style="height:100%" id="result' + i + '"><div class="row"><div class="col-sm-11" id="data' + i + '"><h2>' + data["result"][i]["courses_dept"].toUpperCase() + ' ' + data["result"][i]["courses_id"] + ': ' + data["result"][i]["courses_title"] + '</h2>' +
                                    '<h3>Offered in ' + data["result"][i]["courses_year"] + ' and taught by ' + data["result"][i]["courses_instructor"] + '</h3>' +
                                    '<h3>Section Size: ' + numStudents + '  Average Grade: ' + data["result"][i]["courses_avg"] + '</h3></div>' +
                                    '<div class="col-sm-1" style="background-color:#010C82"><button id="coursesResultButton2" class="btn btn-primary" type="button" onClick="addCourse($(\'#data' + i + '\'),$(\'#result' + i + '\'));">Select</span></button></div></div></div>');
                        }
                    }
//                                '<div class="col-sm-1 bg-2"><button id="coursesResultButton" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-ok" style="float: right;" onClick="searchCourses();"></span></button></div></div></div>');

                    previousCount = data["result"].length;

                }
            }).fail(function (e) {
                //  spawnHttpErrorModal(e)
            });
        } catch (err) {
            //  spawnErrorModal("Query Error", err);
        }
    }

    function searchRooms(){
        console.log('HI');
        var building = $('#roomsButton').text().trim();
        var floor = $('#floorButton').text().trim();
        if (floor != "All")
            floor = Number(floor.charAt(0));
//        var title = $('#titleButton').text().trim();
//        var instructor = $('#instructorButton').text().trim();
//        var averageOption = $('#averageButton').text().trim();
//        var sectionOption = $('#sectionButton').text().trim();
//        var passOption = $('#passButton').text().trim();
//        var failOption = $('#failButton').text().trim();
//        var sectionSize = $('#sizeButton').text().trim();
//        if (sectionSize == "Equal")
//            sectionSize = "EQ";
//        else if (sectionSize == "Greater")
//            sectionSize = "GT";
//        else
//            sectionSize = "LT";

        var query = "{\"GET\": [\"courses_dept\",\"courses_id\",\"courses_title\",\"courses_year\",\"courses_instructor\",\"courses_pass\",\"courses_fail\",\"courses_avg\"],\"WHERE\": {\"AND\": [{\"IS\": {\"courses_dept\": \"" + department + "\"}}, {\"IS\": {\"courses_id\": \"" + year + "*\"}}]},\"GROUP\": [\"courses_dept\",\"courses_id\",\"courses_title\",\"courses_year\",\"courses_instructor\",\"courses_pass\",\"courses_fail\",\"courses_avg\"],\"APPLY\": [ ],\"ORDER\": { \"dir\": \"UP\", \"keys\": [\"courses_title\"]},\"AS\":\"TABLE\"}";

        try {
            $.ajax("/query", {
                type: "POST", data: query, contentType: "application/json", dataType: "json", success: function (data) {
                    console.log("HI");
                    for (var i = 0; i < data["result"].length; i++) {
                        if (i % 2 == 0)
                            $('#ResultArea').append('<div class="container-fluid bg-1" style="height:100%" id="result' + i + '"><div class="row"><div class="col-sm-11"><h2>' + data["result"][i]["courses_dept"].toUpperCase() + ' ' + data["result"][i]["courses_id"] + ': ' + data["result"][i]["courses_title"] + '</h2>' +
                                '<h3>Offered in ' + data["result"][i]["courses_year"] +  ' and taught by ' + data["result"][i]["courses_instructor"] + '</h3>' +
                                '<h3>Section Size: ' + (Number(data["result"][i]["courses_fail"]) + Number(data["result"][i]["courses_pass"])) + '  Average Grade: ' + data["result"][i]["courses_avg"] + '</h3></div>' +
                                '<div class="col-sm-1 bg-2"><button id="coursesResultButton1" class="btn btn-primary" type="button">Select</span></button></div></div></div>');
                        else
                            $('#ResultArea').append('<div class="container-fluid bg-3" style="height:100%" id="result' + i + '"><div class="row"><div class="col-sm-11"><h2>' + data["result"][i]["courses_dept"].toUpperCase() + ' ' + data["result"][i]["courses_id"] + ': ' + data["result"][i]["courses_title"] + '</h2>' +
                                '<h3>Offered in ' + data["result"][i]["courses_year"] +  ' and taught by ' + data["result"][i]["courses_instructor"] + '</h3>' +
                                '<h3>Section Size: ' + (Number(data["result"][i]["courses_fail"]) + Number(data["result"][i]["courses_pass"])) + '  Average Grade: ' + data["result"][i]["courses_avg"] + '</h3></div>' +
                                '<div class="col-sm-1" style="background-color:#010C82"><button id="coursesResultButton2" class="btn btn-primary" type="button">Select</span></button></div></div></div>');
                    }
//                                '<div class="col-sm-1 bg-2"><button id="coursesResultButton" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-ok" style="float: right;" onClick="searchCourses();"></span></button></div></div></div>');

                    previousCount = data["result"].length;

                }
            }).fail(function (e) {
                //  spawnHttpErrorModal(e)
            });
        } catch (err) {
            //  spawnErrorModal("Query Error", err);
        }
    }

    function addCourse(selectedCourse, correspondingRow){
        console.log(selectedCourse);
        $('#CurrentCourseList').append(selectedCourse);
        $(correspondingRow).remove();
    }
</script>
<nav class="navbar navbar-fixed-top" style="background-color:#010C82">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color: #FFFFFF">UBCInsight</a>
        </div>
    </div>
</nav>
<br>
<div class="container-fluid bg-1">
    <br>
    <br>
    <h4>UBC COURSE SCHEDULER</h4>
</div>



<div class="container-fluid bg-2 text-left">
    <br>
    <h3>Search For Courses</h3>
</div>

<button id="coursesSearchButton" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search" style="float: right;" onClick="searchCourses();"></span></button>
<div class="input-group" id="coursesSearchContainer">
    <h1> I want courses in the
        <span class="btn-group" id="departmentMenu">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="coursesButton">All
            <span class="caret"></span></button>
        <ul id="DepartmentList" class="dropdown-menu scrollable-menu" role="menu">
            <li><a href="#">All</a></li>
        </ul>
        </span> department for
        <span class="btn-group">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="yearButton">All
            <span class="caret"></span></button>
        <ul class="dropdown-menu scrollable-menu" role="menu" id="yearMenu">
            <li><a href="#">All</a></li>
            <li><a href="#">1st year</a></li>
            <li><a href="#">2nd year</a></li>
            <li><a href="#">3rd year</a></li>
            <li><a href="#">4th year</a></li>
            <li><a href="#">5th year</a></li>
        </ul>
        </span> students.
        <br>
        <a class="text-primary" data-toggle="collapse" href="#collapseExample" aria-exanded="false">
            <small>Advanced Search
                <span class="	glyphicon glyphicon-chevron-down"></span></small>
        </a>
        <div class="collapse bg-3" id="collapseExample">
            <div class="card card-block">
                <h3> I also want courses with the title
                    <span class="btn-group" id="titleMenu">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="titleButton">All
            <span class="caret"></span></button>
        <ul id="TitleList" class="dropdown-menu scrollable-menu" role="menu">
            <li><a href="#">All</a></li>
        </ul></span> taught by
                    <span class="btn-group" id="instructorMenu">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="instructorButton">All
            <span class="caret"></span></button>
        <ul id="InstructorList" class="dropdown-menu scrollable-menu" role="menu">
            <li><a href="#">All</a></li>
        </ul></span> with a section size of
                    <span class="btn-group" id="asdf"><input id= "SectionSize" type="text" class="form-control" size="2" placeholder="Size...">
                    </span>or <span class="btn-group">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="sizeButton">Equal
            <span class="caret"></span></button>
        <ul class="dropdown-menu scrollable-menu" role="menu" id="sizeMenu">
            <li><a href="#">Equal</a></li>
            <li><a href="#">Greater</a></li>
            <li><a href="#">Lower</a></li>
        </ul>
        </span><br>
                    I only want courses with the
                    <span class="btn-group"><button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="averageButton">Highest
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu scrollable-menu" role="menu" id="averageMenu">
                        <li><a href="#">Highest</a></li>
                        <li><a href="#">Lowest</a></li>
                    </ul></span> average, the
                    <span class="btn-group"><button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="sectionButton">Highest
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu scrollable-menu" role="menu" id="sectionMenu">
                        <li><a href="#">Highest</a></li>
                        <li><a href="#">Lowest</a></li>
                    </ul></span> amount of sections, with the
                    <span class="btn-group"><button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="passButton">Highest
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu scrollable-menu" role="menu" id="passMenu">
                        <li><a href="#">Highest</a></li>
                        <li><a href="#">Lowest</a></li>
                    </ul></span> amount of passing students and the
                    <span class="btn-group"><button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="failButton">Lowest
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu scrollable-menu" role="menu" id="failMenu">
                        <li><a href="#">Highest</a></li>
                        <li><a href="#">Lowest</a></li>
                    </ul></span> amount of failing students.</h3>
            </div>
        </div>
    </h1>
</div>


<div class="container-fluid bg-2 text-left">
    <br>
    <h3>Search For Rooms</h3>
</div>
<button id="roomsSearchButton" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search" style="float: right;" onClick="searchCourses();"></span></button>
<div class="input-group" id="roomsSearchContainer">
    <h1> I want rooms in the
        <span class="btn-group" id="buildingMenu">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="roomsButton">All
            <span class="caret"></span></button>
        <ul id="BuildingList" class="dropdown-menu scrollable-menu" role="menu">
            <li><a href="#">All</a></li>
        </ul>
        </span> building on the
        <span class="btn-group">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="floorButton">All
            <span class="caret"></span></button>
        <ul class="dropdown-menu scrollable-menu" role="menu" id="floorMenu">
            <li><a href="#">All</a></li>
            <li><a href="#">1st</a></li>
            <li><a href="#">2nd</a></li>
            <li><a href="#">3rd</a></li>
            <li><a href="#">4th</a></li>
            <li><a href="#">5th</a></li>
        </ul>
        </span>.
        <br>
        <a class="text-primary" data-toggle="collapse" href="#collapse" aria-exanded="false">
            <small>Advanced Search
                <span class="glyphicon glyphicon-chevron-down"></span></small>
        </a>
        <div class="collapse bg-3" id="collapse">
            <div class="card card-block">
                <h3> I also want the rooms to hold
                    <span class="btn-group" ><input id= "RoomSize" type="text" class="form-control" size="2" placeholder="Size...">
                    </span> or <span class="btn-group">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="RoomSizeButton">Equal
            <span class="caret"></span></button>
        <ul class="dropdown-menu scrollable-menu" role="menu" id="RoomSizeMenu">
            <li><a href="#">Equal</a></li>
            <li><a href="#">Greater</a></li>
            <li><a href="#">Lower</a></li>
        </ul>
        </span> with the rooms being of type <span class="btn-group" id="roomTypeMenu">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="roomTypeButton">All
            <span class="caret"></span></button>
        <ul id="RoomTypeList" class="dropdown-menu scrollable-menu" role="menu">
            <li><a href="#">All</a></li>
        </ul>
        </span> and having furniture like <span class="btn-group" id="furnitureMenu">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="furnitureButton">All
            <span class="caret"></span></button>
        <ul id="FurnitureList" class="dropdown-menu scrollable-menu" role="menu">
            <li><a href="#">All</a></li>
        </ul>
        </span>
                </h3>
            </div>
        </div>
    </h1>
</div>






<div class="container-fluid bg-2">
    <h2>SEARCH RESULTS</h2>
</div>

<div class="container-fluid bg-3" id="ResultArea">
</div>

<div class="conatiner-fluid text-center" style="background-color:#010C82; color:#FFFFFF">
   <h3>ADD SELECTION TO LIST</h3>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 text-center bg-2"><h3>YOUR CURRENT COURSES</h3></div>
        <div class="col-sm-6 text-center bg-3"><h3>YOUR CURRENT ROOMS</h3></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 text-center" style="
        height: auto;
        max-height: 200px;
        overflow-x: hidden;" id="CurrentCourseList"></div>
        <div class="col-sm-6 text-center" style="
        height: auto;
        max-height: 200px;
        overflow-x: hidden;" id="CurrentRoomList"></div>
    </div>
</div>


<div class="conatiner-fluid text-center" style="background-color:#010C82; color:#FFFFFF">
    <h3>BUILD MY ROOM SCHEDULE <span class="glyphicon glyphicon-play"></span></h3>
</div>






<div id="dataset">
    <div class="form-group">
        <h3>Dataset</h3>
        <label for="datasetId">ID:</label>
        <input type="text" class="form-control" id="datasetId">
        <label for="datasetZip">Archive:</label>
        <input type="file" class="form-control" id="datasetZip">
    </div>
    <button type="button" class="btn btn-primary" id="datasetAdd">Add Dataset</button>
    <button type="button" class="btn btn-primary" id="datasetRm">Remove Dataset</button>
</div>
<div id="container">
    <h3>Query</h3>
    <form id="queryForm">
        <div class="form-group">
            <label for="query">Query:</label>
            <textarea class="form-control" rows="10" id="query"></textarea>
        </div>
        <button type="submit" id="queryButton" class="btn btn-primary">Submit</button>
    </form>
</div>

<div id="render">
    <h3>Result</h3>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    var departmentList = [];
    var currentDepartment = "";
    var currentBuilding = "";
    var currentCourse = "";
    var currentYear = "";
    var currentFloor = "";
    var previousCount = 0;
    $(document).ready(function () {
        var query = "{\"GET\": [\"courses_dept\"],\"WHERE\": {},\"GROUP\": [ \"courses_dept\"],\"APPLY\": [ ],\"ORDER\": { \"dir\": \"UP\", \"keys\": [\"courses_dept\"]},\"AS\":\"TABLE\"}";
        sendRequest(query, 'initialCourses');
        query = "{\"GET\": [\"rooms_fullname\"],\"WHERE\": {},\"GROUP\": [ \"rooms_fullname\"],\"APPLY\": [ ],\"ORDER\": { \"dir\": \"UP\", \"keys\": [\"rooms_fullname\"]},\"AS\":\"TABLE\"}";
        sendRequest(query, 'initialRooms');

    });

    function sendRequest(query, scenario) {
        console.log('hi');
        try {
            $.ajax("/query", {
                type: "POST", data: query, contentType: "application/json", dataType: "json", success: function (data) {
                    // Retrieve current year
                    currentYear = $("#yearButton").text();

                    console.log("What is this " + currentYear);
                    if (scenario == "courseTitles") {
                        console.log('previous count is ' + previousCount);
                        for (var x = 0; x < 500; x++) {
                            $('#titledropdown-link' + x).remove();
                            $('#instructordropdown-link' + x).remove();
                        }
                        // Reset Title
                        console.log("about to reset");
                        $("#TitleList li a").parents(".input-group").find('#titleButton').html('All' + ' <span class="caret"></span>');
                        $("#TitleList li a").parents(".input-group").find('#titleButton').val('All');
                        $("#InstructorList li a").parents(".input-group").find('#titleButton').html('All' + ' <span class="caret"></span>');
                        $("#InstructorList li a").parents(".input-group").find('#titleButton').val('All');

                    }
                    for (var i = 0; i < data["result"].length; i++) {
                        switch (scenario) {
                            case "initialCourses":
                                $('#DepartmentList').append('<li><a href="#" id="dropdown-link' + i + '">' + data["result"][i]["courses_dept"] + '</a></li>');
                                break;
                            case "courseTitles":
                                $('#TitleList').append('<li><a href="#" id="titledropdown-link' + i + '">' + data["result"][i]["courses_title"] + '</a></li>');
                                //       console.log(data["result"][i]["courses_title"]);
                                break;
                            case "courseInstructors":
                                $('#InstructorList').append('<li><a href="#" id="instructordropdown-link' + i + '">' + data["result"][i]["courses_instructor"] + '</a></li>');
                                //     console.log(data["result"][i]["courses_instructor"]);
                                break;
                            case "initialRooms":
                                $('#BuildingList').append('<li><a href="#" id="dropdown-link' + i + '">' + data["result"][i]["rooms_fullname"] + '</a></li>');
                                break;
                            case "roomsType":
                                $('#RoomTypeList').append('<li><a href="#" id="dropdown-link' + i + '">' + data["result"][i]["rooms_type"] + '</a></li>');
                                break;
                            case "roomsFurniture":
                                $('#FurnitureList').append('<li><a href="#" id="dropdown-link' + i + '">' + data["result"][i]["rooms_furniture"] + '</a></li>');
                                break;
                            default:
                                break;

                        }

                    }
                    previousCount = data["result"].length;
                    switch (scenario) {
                        case "initialCourses":
                            $("#DepartmentList li a").click(function () {
                                $(this).parents(".input-group").find('#coursesButton').html($(this).text() + ' <span class="caret"></span>');
                                $(this).parents(".input-group").find('#coursesButton').val($(this).data('value'));
                                currentDepartment = $(this).text();
                                currentYear = $("#yearButton").text();
                                var query = "";
                                if (currentDepartment.trim() != "All" && currentYear.trim() != "All") {
                                    var year = Number(currentYear.charAt(0));
                                    query = "{\"GET\": [\"courses_title\"],\"WHERE\": {\"AND\": [{\"IS\": {\"courses_dept\": \"" + currentDepartment + "\"}}, {\"IS\": {\"courses_id\": \"" + year + "*\"}}]},\"GROUP\": [ \"courses_title\"],\"APPLY\": [ ],\"ORDER\": { \"dir\": \"UP\", \"keys\": [\"courses_title\"]},\"AS\":\"TABLE\"}";
                                    console.log(query);
                                }else if (currentDepartment.trim() != "All" && currentYear.trim() == "All"){
                                    query = "{\"GET\": [\"courses_title\"],\"WHERE\": {\"IS\": {\"courses_dept\": \"" + currentDepartment + "\"}},\"GROUP\": [ \"courses_title\"],\"APPLY\": [ ],\"ORDER\": { \"dir\": \"UP\", \"keys\": [\"courses_title\"]},\"AS\":\"TABLE\"}";
                                }else
                                    query = "{\"GET\": [\"courses_title\"],\"WHERE\": {},\"GROUP\": [ \"courses_title\"],\"APPLY\": [ ],\"ORDER\": { \"dir\": \"UP\", \"keys\": [\"courses_title\"]},\"AS\":\"TABLE\"}";

                                console.log(query);
                                sendRequest(query, 'courseTitles');
                            });
                            break;
                        case "courseTitles":
                            $("#TitleList li a").click(function () {
                                $(this).parents(".input-group").find('#titleButton').html($(this).text() + ' <span class="caret"></span>');
                                $(this).parents(".input-group").find('#titleButton').val($(this).data('value'));
                                currentYear = $("#yearButton").text();
                                currentCourse = $(this).text();
                                var query = "";
                                //    if (currentCourse.trim() != "All" && currentYear.trim() != "All") {
                                //        var year = Number(currentYear.charAt(0));
                                //   query = "{\"GET\": [\"courses_instructor\"],\"WHERE\": {\"AND\": [{\"IS\": {\"courses_title\": \"" + currentCourse + "\"}}, {\"IS\": {\"courses_id\": \"" + year + "*\"}}]} ,\"GROUP\": [ \"courses_instructor\"],\"APPLY\": [ ],\"ORDER\": { \"dir\": \"UP\", \"keys\": [\"courses_instructor\"]},\"AS\":\"TABLE\"}";
                                //     }
                                //    else if (currentCourse.trim() != "All" && currentYear.trim() == "All")
                                if (currentCourse.trim() != "All")
                                    query = "{\"GET\": [\"courses_instructor\"],\"WHERE\": {\"IS\": {\"courses_title\": \"" + currentCourse + "\"}} ,\"GROUP\": [ \"courses_instructor\"],\"APPLY\": [ ],\"ORDER\": { \"dir\": \"UP\", \"keys\": [\"courses_instructor\"]},\"AS\":\"TABLE\"}";
                                else
                                    query = "{\"GET\": [\"courses_instructor\"],\"WHERE\": {\"IS\": {\"courses_dept\": \"" + currentDepartment + "\"}},\"GROUP\": [ \"courses_instructor\"],\"APPLY\": [ ],\"ORDER\": { \"dir\": \"UP\", \"keys\": [\"courses_instructor\"]},\"AS\":\"TABLE\"}";
                                sendRequest(query, 'courseInstructors');
                            });
                            break;
                        case "courseInstructors":
                            $("#InstructorList li a").click(function () {
                                $(this).parents(".input-group").find('#instructorButton').html($(this).text() + ' <span class="caret"></span>');
                                $(this).parents(".input-group").find('#instructorButton').val($(this).data('value'));
                                var query = "{\"GET\": [\"courses_instructor\"],\"WHERE\": {\"IS\": {\"courses_title\": \"" + currentCourse + "\"}},\"GROUP\": [ \"courses_id\"],\"APPLY\": [ ],\"ORDER\": { \"dir\": \"UP\", \"keys\": [\"courses_id\"]},\"AS\":\"TABLE\"}";
                                //  sendRequest(query, 'courseInstructors')
                            });
                            break;
                        case "initialRooms":
                            $("#BuildingList li a").click(function () {
                                $(this).parents(".input-group").find('#roomsButton').html($(this).text() + ' <span class="caret"></span>');
                                $(this).parents(".input-group").find('#roomsButton').val($(this).data('value'));
                                currentBuilding = $(this).text();
                                currentFloor = $("#floorButton").text();
                                var query = "";
                                if (currentBuilding.trim() != "All" && currentFloor.trim() != "All") {
                                    var floor = Number(currentFloor.charAt(0));
                                    query = "{\"GET\": [\"rooms_number\",\"rooms_type\",\"rooms_furniture\"],\"WHERE\": {\"AND\": [{\"IS\": {\"rooms_fullname\": \"" + currentBuilding + "\"}}, {\"IS\": {\"rooms_number\": \"" + floor + "*\"}}]},\"GROUP\": [ \"rooms_number\",\"rooms_type\",\"rooms_furniture\"],\"APPLY\": [ ],\"ORDER\": { \"dir\": \"UP\", \"keys\": [\"rooms_number\"]},\"AS\":\"TABLE\"}";
                                    console.log(query);
                                }else if (currentDepartment.trim() != "All" && currentYear.trim() == "All"){
                                    query = "{\"GET\": [\"courses_title\"],\"WHERE\": {\"IS\": {\"courses_dept\": \"" + currentDepartment + "\"}},\"GROUP\": [ \"courses_title\"],\"APPLY\": [ ],\"ORDER\": { \"dir\": \"UP\", \"keys\": [\"courses_title\"]},\"AS\":\"TABLE\"}";
                                }else
                                    query = "{\"GET\": [\"courses_title\"],\"WHERE\": {},\"GROUP\": [ \"courses_title\"],\"APPLY\": [ ],\"ORDER\": { \"dir\": \"UP\", \"keys\": [\"courses_title\"]},\"AS\":\"TABLE\"}";

                                console.log(query);
                                sendRequest(query, 'roomsType');
                                sendRequest(query, 'roomsFurniture');
                            });
                            break;
                        case "roomsType":
                            $("#roomTypeMenu li a").click(function () {
                                $(this).parents(".input-group").find('#roomTypeButton').html($(this).text() + ' <span class="caret"></span>');
                                $(this).parents(".input-group").find('#roomTypeButton').val($(this).data('value'));
                            });
                            break;
                        case "roomsFurniture":
                            $("#furnitureMenu li a").click(function () {
                                $(this).parents(".input-group").find('#furnitureButton').html($(this).text() + ' <span class="caret"></span>');
                                $(this).parents(".input-group").find('#furnitureButton').val($(this).data('value'));
                            });
                            break;
                    }

                }
            }).fail(function (e) {
                //  spawnHttpErrorModal(e)
            });
        } catch (err) {
            //  spawnErrorModal("Query Error", err);
        }

    }
    // TODO: Condense these into a single function
    $("#yearMenu li a").click(function () {
        if ($(this).id = "yearMenu") {
            $(this).parents(".input-group").find('#yearButton').html($(this).text() + ' <span class="caret"></span>');
            $(this).parents(".input-group").find('#yearButton').val($(this).data('value'));
        }
    });

    $("#sizeMenu li a").click(function () {
        $(this).parents(".input-group").find('#sizeButton').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".input-group").find('#sizeButton').val($(this).data('value'));
    });


    $("#averageMenu li a").click(function () {
        $(this).parents(".input-group").find('#averageButton').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".input-group").find('#averageButton').val($(this).data('value'));
    });

    $("#sectionMenu li a").click(function () {
        $(this).parents(".input-group").find('#sectionButton').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".input-group").find('#sectionButton').val($(this).data('value'));
    });


    $("#passMenu li a").click(function () {
        $(this).parents(".input-group").find('#passButton').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".input-group").find('#passButton').val($(this).data('value'));
    });


    $("#failMenu li a").click(function () {
        $(this).parents(".input-group").find('#failButton').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".input-group").find('#failButton').val($(this).data('value'));
    });


    $("#floorMenu li a").click(function () {
        $(this).parents(".input-group").find('#floorButton').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".input-group").find('#floorButton').val($(this).data('value'));
    });

    $("#RoomSizeMenu li a").click(function () {
        $(this).parents(".input-group").find('#RoomSizeButton').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".input-group").find('#RoomSizeButton').val($(this).data('value'));
    });

</script>
</body>
</html>